<!-- include head partial -->

<%- include('../partials/head') %>

<h2>Skills</h2>

<ul>
    <% skills.forEach(skill => { %>
        <li>
        <%= skill.name %>
        </li>
    <% }) %>
</ul>

<%- include('../partials/close') %>