<!-- include head partial -->

<%- include('../partials/head') %>

<h2>Skills</h2>

<ul>
    <% skills.forEach(skill => { %>
        <li>
        <a href="/skills/<%= skill.id%>"> <%= skill.name %></a>
        </li>
    <% }) %>
</ul>

<a href="/skills/new"><button>Add Skill</button></a>

<%- include('../partials/close') %>